---
layout: default
title: Archives for %str_month%, %year%
---
%h1==Archives for #{page.month}, #{page.year}
- page.archive_posts.each do |post|
  .post
    .title
      %h1
        %a{:href=>"#{post.url}", :title=>"#{post.title}"}=post.title
      .info
        %p==Posted on: #{post.date.strftime('%b %d %Y')}
        %ul.post_tags
          %li.first Tagged as:
          - post.categories.each do |tag|
            %li
              %a{:href=>"/category/#{tag}", :title=>"#{tag}"}=category_capitalize(tag)
    .body= post.content