!!!
%html
  %head
    %title GHickman.co.uk

    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}
    %link{:rel => 'openid.server', :href => 'http://www.myopenid.com/server'}
    %link{:rel => 'openid.delegate', :href => 'http://ghickman.myopenid.com/'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/master.css'}

    %meta{:"http-equiv" => 'Content-type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'author', :content => 'George Hickman'}
    %meta{:name => 'description', :content => 'George Hickman is a Software Engineer currently living in Oxford'}
    %meta{:name => 'google-site-verification', :content => 'HME0VcoccfLfgFuwOwPH-QrJgg2FiB5FmaM0mN9uy8E'}
    %meta{:name => 'keywords', :content => 'george hickman, george, hickman, python, travelling, coding, software, ruby, php, development'}
    %meta{:name => 'robots', :content => 'ALL'}

    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascript/sidebar.js'}

  %body
    #header
      #logo.wrapper
        %a{:href => '/', :title => 'Home'}
          %img{:src => '/images/logo.png', :alt => 'GHickman.co.uk Logo'}

    #menu
      .wrapper
        %ul#menu_bar
          %li
            .menu_left
            .menu_middle
              %a{:href => '/', :title => 'Home'} blog
            .menu_right
          %li
            .menu_left
            .menu_middle
              %a{:href => '/portfolio.html', :title => 'Portfolio'} portfolio
            .menu_right
          / %li
          /   .menu_left
          /   .menu_middle
          /     %a{:href => '/about.html', :title => 'About'} about
          /   .menu_right
        #search.right
          %form{:action => "http://www.google.com/cse", :id => "cse-search-box"}
            %div
              %input{:name => "cx", :type => "hidden", :value => "014764111418219505516:jgaqcppfmqi"}
              %input{:name => "ie", :type => "hidden", :value => "UTF-8"}
              %input{:name => "q", :id => "q", :type => "text", :size => "26"}

    .wrapper
      - unless page.title == 'Contact' or page.title == 'Portfolio'
        #sidebar
          .sidebar_title.categories
            %h3 Categories
          .sidebar_content.categories
            %ul
              - site.categories.sort.each do |tag, post|
                %li
                  %a{:href => "/category/#{category_slug(tag)}/index.html", :title => "#{category_capitalize(tag)}"}=category_capitalize(tag)
  
          .sidebar_title.archives
            %h3 Archives
          .sidebar_content.archives
            %ul
              - site.collated_posts.to_a.sort.reverse.each do |year|
                %li.outer
                  %a{:href => "/#{year.first}/index.html", :title => "#{year.first}"}=year.first
                - year.last.to_a.sort.each do |month|
                  %li.inner
                    %a{:href => "/#{year.first}/#{to_month_i(month.first)}/index.html", :title => "#{to_month(month.first)}"}=to_month(month.first)
  
          .sidebar_title.blogroll
            %h3 Blog Roll
          .sidebar_content.blogroll
            %ul
              %li
                %a{:href => 'http://27smiles.com'} 27 Smiles
              %li
                %a{:href => 'http://www.doghousestudio.co.uk/'} Dog House Studio
              %li
                %a{:href => 'http://abermtb.co.uk/'} Aber Uni MTB
              %li
                %a{:href => 'http://icodesolutions.co.uk/'} iCode Solutions
              %li
                %a{:href => 'http://jamesturnbull.org/'} James Turnbull
              %li
                %a{:href => 'http://rotacoo.com/'} Rotacoo

          / .sidebar_title.twitter
          /   %h3 Twitter
          / .sidebar_content.twitter
          /   %ul
          /     %li
          /       %a{:href => ''} A Tweet!
        #content== #{content}
        .clr
      - else
        #no_post== #{content}
    
    #footer
      .wrapper
        #jekyll.left
          Powered by 
          %a{:href => "http://github.com/richguk/jekyll", :title => "Jekyll"} Jekyll
        #copyright.left Copyright &copy; 2010 George Hickman, All Rights Reserved
        #feed.right
          %a{:href => "http://feeds.feedburner.com/ghickman", :title => "Ghickman.co.uk's Feed"}
            %img{:src => "/images/feed.png", :alt => "RSS Feed"}
        #contact_link.right
          %a{:href => "/contact", :title => "Contact Me"} Contact