---
layout: default
post_page: true
---
.box.big_box
  .article
    .grid_7.alpha
      %h1.title== #{page.title}
      %span.full_date= page.date.strftime("%d %B %Y")
    .grid_2.omega
      .short_date
        %span.month= page.date.strftime('%b')
        %span.day= page.date.day
    .clear
    .body= content

- unless page.disable_comments?
  .box.box_big
    #comments
      #disqus_thread
      %noscript <a href="http://disqus.com/forums/27smiles/?url=ref">View the discussion thread.</a>
      %a{:href => 'http://disqus.com', :class => 'dsq-brlink'} blog comments powered by <span class="logo-disqus">Disqus</span>