---
layout: default
post_page: true
---
.post
  .title
    %h1#post_title= page.title
    .info
      %p== Posted on: #{page.date.strftime('%b %d %Y')}
      %ul.post_tags
        %li.first Tagged as:
        - page.categories.each do |tag|
          %li
            %a{:href=>"/category/#{category_slug(tag)}/index.html", :title=>"#{category_capitalize(tag)}"}=category_capitalize(tag)
  .body= content

  #comments
    #disqus_thread
      %noscript <a href="http://disqus.com/forums/ghickman/?url=ref">View the discussion thread.</a>
      %a{:href => 'http://disqus.com', :class => 'dsq-brlink'} blog comments powered by <span class="logo-disqus">Disqus</span>
